
@charset "utf-8";

  body{
    height: 100%;
    background-image: url("hintergrundbild.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }


  .row{
    --bs-gutter-y: 4;
  }
  

  .headline{
      padding: 6%;
      color: white;
      font-size: 50px;
      width: 100%;
      text-align:center;
      text-shadow: 5px 5px rgba(1, 1, 5, 0.5);
      z-index: 0;
      
  }
 

  .formular{
      padding: 2%;
      color: white;
      font-size: 30px;
      width: 100%;
      text-align:center;
  }


  .box{
    background: rgb(15, 28, 40);
    width: 100%;
    border-radius: 0.5rem;
    padding: 2rem;
  }


  .label{
    color:rgb(255, 247, 240);
  }


  .container-fluid{
      top: 0.002%;
      height: 4rem;
      background-color: rgb(193, 165, 89);
      position: fixed;      
  }


  .logo{
      position:absolute;
      height: 30px;
      width: 30px;
      right: 20px;
      z-index: 10;
  }


  .nav-link{
    font-size: 1rem;
    font-weight: 800;
    color:rgb(28, 48, 29);
    

  }
  .nav-link:hover{
    color: aliceblue;
  }


  .container-fluid{
    height: 3rem;
    vertical-align:middle;
    
  }


  .beschreibung{
    text-align:center;
    font-size:1rem;
    color:aliceblue;
    background: rgb(15, 28, 40);
    padding: 1rem;
    
  }


  .navbar-collapse{
    background-color: rgb(193, 167, 89);
    z-index: auto;
    
    }

  
  .adresse{
    text-align: center;
    color: aliceblue;
    padding: 2rem;
  }
  
  
  .footer{
    background-color: rgb(193, 167, 89);
    height: 1.2rem;
    color:rgb(28, 48, 29);
    position: fixed;
    bottom: 0.01%;
    width: 100%;
    font-size: 0.7rem;
  }

  
  @media (min-width: 670px) { 
    .headline{
      padding: 3%;
      font-size: 70px;
      width: 100%;
      text-align: center;
    }


    .formular{
      padding: 4%;
      font-size: 50px;
    }


    .nav{
      height: 3rem;
      width: 100%;
    }

   
    .logo{
      height: 40px;
      width: 40px;
      right: 40px;
    }


    .footer{
      height: 2rem;
      font-size: 1rem;
    }


    .nav-link{
      font-size:1.5rem;
    }
  }

  
  @media (min-width: 990px){
   .headline{
    padding: 2%;
    }

   .collapse{
    height: 3rem;
    }

  .box{
    width: 70%;
    padding: 2rem;
  }

  }
  
 